body{
    background-color: #fffcf7;
}

header{
    padding: 10px;
}

nav{
    
}
nav li{
    padding: 10px;
    display: inline;
    float: left;
}

main{
    padding:30px;
}

.contact{
    display: block;
}

/*c2d8b9, e4f0d0, fffcf7, a1b5d8, 738290*/
/*https://wireframe.cc/s1qWa6*/