body{
    background-color: #ffffff;
}

#wrapper{
    margin: auto;
}
header{
    padding: 10px 0px 10px 10px;
    float: left;
}
header a, header h2{
    display:inline;
}

nav ul{
    list-style: none;
    margin-right: 0px;
    padding-bottom: 30px;
}
nav li{
    padding: 10px;
    display: inline;
    float: right;
}
nav a{
    text-decoration: none;
    color: black;
}

main{
    padding:30px;
}
main h2{
    text-align: center;
}



.contact div{
    display:block;
}

footer{
    padding: 10px 40%;
    background-color: #c2d8b9;
}

/*c2d8b9, e4f0d0, fffcf7, a1b5d8, 738290*/
/*https://wireframe.cc/s1qWa6*/